
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
}
#rectangle1 {
  height: 128px;
  margin:  8px 0;
  padding: 0 416px 5px 418px;
  opacity: 0.81;
  background-color: #fcce00;
}
.title {
  height: 123px;
  font-family: Poppins;
  font-size: 88px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#rectangle2 {
  margin: 8px 0;
  padding: 6px 478px 5px;
  opacity: 0.81;
  background-color: #ff6b00;
}
.title1 {
  height: 53px;
  font-family: Poppins;
  font-size: 38px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
#rectangle3 {
  height: 32px;
  margin: 8px 0;
  opacity: 0.81;
  background-color: #e02020;
}
#rectangle4 {
  height: 16px;
  margin: 8px 0;
  opacity: 0.81;
  background-color:#b620e0;
}
#rectangle5 {
  height: 8px;
  margin: 8px 0 0;
  opacity: 0.81;
  background-color: #6236ff;
}
.bigtitle{
  font-family: Poppins;
  font-size: 40px;
  text-align: center;
  color: #231f20;
}


/* Flexbox */
.bloc{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.colonne1{
  padding-left: 48px;
  padding-right: 32px;
  width: 50%;
  margin: 34px 31px 30px 0;
  font-size: 16px;
  text-align: justify;
}

.colonne2 {
  background-image: url(../img/bg-yellow.png);
  width: 50%; 
  height: 512px;
  text-align: right;
}

.titre-paragraphe {
  margin: 0 31px 34px 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 64px;
  color:black;
} 
.ordinateur-1{
  width: 487px;
  height: 471px;
  object-fit: contain;
  mix-blend-mode: darken;
}

.paragraphe1{
  height: 345;
  margin: 34px 31px 30px 0;
  font-size: 16px;
  text-align: justify;
}

.button1{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border: solid 4px #fcce00;
  width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fcce00;
  border-radius: 15px;
  text-decoration: none;
}


.ordinateur-2{
  width: 378px;
  height: 486px;
  object-fit: contain;
  mix-blend-mode: darken;
}

.colonne3 {
  background-image: url(../img/bg-orange.png);
  width: 50%; 
  height: 512px;
  text-align: center;
}

.bigtitle2{
  font-family: Poppins;
  font-size: 40px;
  text-align: center;
  color: #231f20;
}

.button2{
  width: 185px;
  height: 48px;
  margin: 30px 31px 22px 455px;
  padding: 10px 36px;
  border: solid 4px#ff6b00;
  width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ff6b00;
  border-radius: 15px;
  text-decoration: none;
}

.colonne4 {
  width: 50%;
}

.titre-bold{
  width: 640px;
  height: 45px;
  margin: 0 0 32px;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  margin: 63px 0px 32px 50px;
}

.paragraphe3{
  width: 487px;
  height: 66px;
  margin: 32px 153px 32px 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 32px 153px 32px 50px;
}

.button3{
  width: 185px;
  height: 48px;
  width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 36px;
  margin: 0px 0px 0px 60px;
  border: solid 4px white;
 
}
.bloc56{
  background-image: url(../img/bg-red.png);
}

.bloc78{
  background-image: url(../img/bg-violet.png);
}

.bloc910{
  background-image: url(../img/bg-blue.png);
}

.colonne6 {
  width: 1440px;
  height: 640px;
  margin: 0 0 1px;
}

.ordinateur-3 { 
  width: 745px;
  height: 576px;
  object-fit: contain;
  mix-blend-mode: darken;
  margin: 0px 0px 0px 250px;
}

.colonne8 {
  background-image: url(../img/bg-violet.png);
  width: 1440px;
  height: 640px;
  margin: 0 0 1px;
}

.paragraphe4{
  width: 487px;
  height: 66px;
  margin: 32px 153px 32px 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 32px 153px 32px 50px;
}

.button4{
  padding: 10px 36px;
  border: solid 4px var(#fcce00);
  width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  text-decoration: none;
  margin: 0px 0px 0px 60px;
  border: solid 4px white;
}

.ordinateur-4 {
  width: 745px;
  height: 576px;
  object-fit: contain;
  mix-blend-mode: darken;
  margin: 0px 0px 0px 250px;
}

.colonne10 {
  background-image: url(../img/bg-blue.png);
  width: 1440px;
  height: 640px;
  margin: 0 0 1px;
}

.paragraphe5{
  width: 487px;
  height: 66px;
  margin: 32px 153px 32px 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 32px 153px 32px 50px;
}

.button5{
  width: 185px;
  height: 48px;
  padding: 10px 36px;
  border: solid 4px var(#fcce00);
  width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 15px;
  text-decoration: none;
  margin: 0px 0px 0px 60px;
  border: solid 4px white;
}

.ordinateur-5 {
  width: 745px;
  height: 576px;
  object-fit: contain;
  mix-blend-mode: darken;
  margin: 0px 0px 0px 250px;
}
p, li, textarea, label, input, select {
  /* Default font size and line height */
}





h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/